<p style="color: green"><%= notice %></p>

<%= render partial: "restaurants/restaurant", locals: { restaurant: @restaurant } %>

<% if true %>
  <% if @restaurant.interested_users.include?(current_user)%>
    <%= link_to "Remove from wishlist", wishlist_path(id: @restaurant.wishlists.find_by(user_id: current_user.id)), data: { turbo_method: :DELETE } %>
  <% else %>
    <%= link_to "Add to wishlist", wishlists_path(params: { restaurant_id: @restaurant["internal_id"], user_id: current_user.id }), data: { turbo_method: :post } %>
  <% end %>
  <%= link_to "Create memory", new_memory_path(params: { restaurant_id: @restaurant["internal_id"] }) %>

  <h2>Interested Users</h2>
  <% @restaurant.interested_users.each do |user| %>
    <%= render partial: "users/user_with_chat_button", locals: { user: user } %>
  <% end %>

  <h2>Memories</h2>
  <% @restaurant.memories.each do |memory| %>
    <%= render partial: "memories/memory", locals: { memory: memory } %>
  <% end %>
<% end %>

<div>
  <%= link_to "Back to search", restaurants_search_path %>
</div>
