<div id="<%= dom_id message %>" class="message" data-chat-id="<%= message.chat_id %>" data-user-id="<%= message.user_id %>" data-message-id="<%= message.id %>">
  <div class="card">
    <p><strong><%= message.user.email %>: </strong><%= message.content %></p>
  </div>
  <div class="read-status">
  </div>
</div>