<h1>Restaurants</h1>
<table>
  <tr>
    <th>Internal ID</th>
    <th>External ID</th>
    <th>Name</th>
    <th>Actions</th>
  </tr>
  <% @restaurants.each do |restaurant| %>
    <tr class="restaurant-row">
      <td><%= restaurant.internal_id %></td>
      <td><%= restaurant.external_id %></td>
      <td><%= restaurant.payload["name"] %></td>
      <td>
        <%= link_to "Show", admin_restaurant_path(restaurant) %> |
        <%= link_to "Delete", admin_restaurant_path(restaurant), method: :delete, data: { confirm: "Are you sure?", turbo_method: :delete } %>
      </td>
    </tr>
  <% end %>
</table>
