<div id="<%= dom_id memory %>" class="card memory">
  <p>
    <strong>Title:</strong>
    <%= memory.title %>
  </p>

  <% memory.images.each do |image| %>
    <div>
      <p>image</p>
      <%= image_tag image.variant(resize_to_limit: [300, 300]) %>
    </div>
  <% end %>

  <p>
    <strong>Content:</strong>
    <%= memory.content %>
  </p>

  <p>
    <strong>User:</strong>
    <%= link_to memory.user.email, user_path(memory.user) %>
  </p>

  <p>
    <strong>Restaurant:</strong>
    <%= link_to memory.restaurant.payload["name"], restaurant_path(memory.restaurant) %>
  </p>

</div>
